alembic==1.7.4
argh==0.26.2
Babel==2.9.1
bcrypt==3.2.0
blinker==1.4
cachelib==0.4.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
coloredlogs==15.0.1
dnspython==2.1.0
email-validator==1.1.3
Flask==2.0.2
Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-DebugToolbar==0.11.0
Flask-Executor==0.10.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Minify==0.32
Flask-Principal==0.4.0
Flask-Resize==3.0.1
Flask-Security-Too==4.1.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fs-moysklad-api==0.5.1
greenlet==1.1.2
htmlmin==0.1.12
humanfriendly==10.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
jsmin==3.0.0
lesscpy==0.15.0
Mako==1.1.5
MarkupSafe==2.0.1
mysqlclient==2.1.0rc1
passlib==1.7.4
pilkit==2.0
Pillow==8.4.0
ply==3.11
pycparser==2.21
pyreadline3==3.3
python-dotenv==0.19.1
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
redis==3.5.3
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.26
text-unidecode==1.3
urllib3==1.26.7
Werkzeug==2.0.2
WTForms==3.0.0
xxhash==2.0.2
