@mixin badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #dc3545;
  border-radius: 50rem;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%,-50%);
}