:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-dark-grey: #333;
  --color-blue: #235ef5;
  --color-blue-hover: #396ef6;
  --color-red: #ff4b55;
  --color-bg: #f1f1f1;
  --color-border: #ccc;
  --border-radius: 4px;
}

html {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  height: 100%;
}

body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: var(--color-dark-grey);
	min-height: 100%;
}

img {
  display: block;
	max-width: 100%;
	height: auto;
}

a {
  color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}