.post {
  display: grid;
  align-items: start;
  gap: 20px;
  padding-top: 15px;
  border-top: 1px solid var(--color-border);

  &:not(:last-child) { margin-bottom: 20px; }
  @include media-min(md) { grid-template-columns: 70px 1fr; }
}

.post__avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.post__top {
  color: var(--color-grey);
  margin-bottom: 5px;
}

.post__author {
  color: var(--color-blue);
}

.post__text {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
  max-width: 1250px;

  &:last-child { margin-bottom: 0; }
  
  @include media-max(md) { width: calc(100vw - $gap-sm * 2); }
  @include media-min(md) { width: calc(100vw - ($gap-md * 2 + 90px)); }
  @include media-min(xl) { width: auto; }
}

.post__translate {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: .2s;

  &:hover,
  &:focus-visible {
    border-color: var(--color-dark-grey);
  }
}