<div class="post">
  <a class="post__avatar" href="{{ url_for('main.user', username=post.author.username) }}">
    <img class="post__avatar-img" src="{{ post.author.avatar(70) }}" width="70px" />
  </a>

  <div class="post__content">
    <div class="post__top">
      {% set user_link %}
        <span class="post__popup">
          <a class="post__author" href="{{ url_for('main.user', username=post.author.username) }}">
            {{ post.author.username }}
          </a>
          <div class="tooltip"></div>
        </span>
      {% endset %}
      {{ _('%(username)s said %(when)s', username=user_link, when=moment(post.timestamp).fromNow()) }}
    </div>

    <p id="post{{ post.id }}" class="post__text">{{ post.body }}</p>

{#
    {% if post.language and post.language != g.locale %}
      <span id="translation{{ post.id }}">
        <a
          class="post__translate"
          href="javascript:translate(
            '#post{{ post.id }}',
            '#translation{{ post.id }}',
            '{{ post.language }}',
            '{{ g.locale }}');"
        >
          {{ _('Translate') }}
        </a>
      </span>
    {% endif %}
#}
  </div>
</div>