{% extends "base.html" %}
{% from 'macros/form.html' import textarea, btn %}

{% block content %}
  <h1 class="main__title">{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>

  {% if form %}
    <form class="from" action="" method="post">
      {{ form.hidden_tag() }}
      {{ textarea(form.post) }}
      {{ btn(form.submit) }}
    </form>
    <br>
  {% endif %}

  {% for post in posts %}
    {% include '_post.html' %}
  {% endfor %}

  {% include '_pagination.html' %}
{% endblock %}