{% extends "base.html" %}

{% block content %}
  <h1 class="main__title">{{ _('Messages') }}</h1>

  {% for post in messages.items %}
    {% include '_post.html' %}
  {% endfor %}

  <nav class="pagination" aria-label="...">
    <ul class="pagination__list">
      <li class="pagination__prev">
        <a class="pagination__link {% if not prev_url %}pagination__link--disabled{% endif %}" href="{{ prev_url or '#' }}">
          {{ _('Newer posts') }}
        </a>
      </li>
  
      {% for page_num in messages.iter_pages(left_edge=1, left_current=3, right_current=4, right_edge=1) %}
        {% if page_num %}
          {% if messages.page == page_num %}
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="{{ url_for('main.messages', page=page_num) }}">{{ page_num }}</a>
            </li>
          {% else %}
            <li class="pagination__item">
              <a class="pagination__link" href="{{ url_for('main.messages', page=page_num) }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% else %}
          <span class=pagination__ellipsis>…</span>
        {% endif %}
      {% endfor %}
  
      <li class="pagination__next">
        <a class="pagination__link {% if not next_url %}pagination__link--disabled{% endif %}" href="{{ next_url or '#' }}">
          {{ _('Older posts') }}
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}